.main-section {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

/* TOP BAR */

.top-bar {
    background-color: #58A4B0;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    height: 10vh;
}

.brand-name {
    display: flex;
    align-items: center;
    color: #D8DBE2;
}

.dropdown {
    display: flex;
    align-items: center;
}

/* NAV BAR */

.vertical-nav {
    position: absolute;
    top: 10vh;
    left: 0;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.section-title {
    color: #3535359a;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    margin-bottom: 5%;
}

.nav-pills .nav-link.active {
    background-color: #A9BCD0;
}

.nav-link:hover {
    background-color: rgb(221, 216, 216);
}

/* INPUT TEAMS */

.inputs{
    padding-left: 5%;
    margin-bottom: 3%;
}


/* EDIT TEAMS */

table {
    table-layout: fixed;
}

.input-container{
    margin:auto;
}

.results {
    width: 70rem;
    border-radius: 1%;
}

.btn-danger{
    width:7%;
    font-weight: bold;
    margin:auto;
    margin-bottom: 3%;
}

.search-form {
    margin-bottom: 1%;
}

.card-header {
    font-size: 1rem;
}

.card-header {
    font-weight: bold;
}