body{
    margin:0;
    color: #1B1B1E;
}

/* LOGIN BAR */

.dropdown-menu {
    min-width:30vh;
}

.table{
    border: 1px solid#58A4B0;
    border-radius: 1%;
}

.dropdown{
    display: flex;
    align-items: center;
}

.brand-name{
    display: flex;
    align-items: center;
    color: #D8DBE2;
}

.login-bar {
    background-color: #58A4B0;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    height: 10vh;
}

.form-control{
    margin-bottom: 10%;
}

/* MAIN SECTION */

.main-section{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.selection-bar{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.table-wrap{
    margin: auto;
    width: 60%;
}

.table-teams{
    display:none;
}

.search-form{
    position: absolute;
    right: 20%;
}