body{
    margin:0;
}

/* LOGIN BAR */

.dropdown-menu {
    min-width:30vh;
}

.dropdown{
    display: flex;
    align-items: center;
}

.brand-name{
    display: flex;
    align-items: center;
}

.login-bar {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    height: 8vh;
}


/* MAIN SECTION */

.main-section{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.selection-bar{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.table-wrap{
    margin: auto;
    width: 60%;
}

.search-form{
    position: absolute;
    right: 20%;
}